<%- include('../partials/_header.ejs') %>
<p>Hier is mijn eerst persoon ☺
<%= firstname%> <%= lastname%> </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatem non architecto accusantium ratione mollitia itaque reprehenderit ullam harum autem. Officiis rerum totam nam hic dolore quos, iste ipsam quaerat.</p>

<%- include('../partials/_footer.ejs') %>