<%- include('../partials/_header.ejs') %>

<div>
    <form method="post">
        <h1>Veuillez remplir le formulaire ci-dessous</h1>
        <div> 
            <label for="">Email</label>
            <input type="email" id="mail"placeholder="email@exemple.be" required>
        </div>
        
        <div>
            <label for="">Category</label>
            <select name="category" id="category">Category</select>
            <option disabled selected value="">Waaroom ?</option>
            <% categories.forEach((category) => { %>
                <option value=<"<%=category %>"
                    <%=category %>
                    </option>
            <% }); %>
        </div>
        
        <div>
            <label for="">Message</label>
            <input type="message" id="message"> 
        </div>
    
        <div>
            <button type="submit">Envoyer</button>
            <button type="reset">Effacer</button>
        </div>
    </form>
</div>
<%- include('../partials/_footer.ejs') %>